---
import TV from '~/components/TV.astro'

const videoYoutubeId = 'dQw4w9WgXcQ'
const videoTitle = 'Rick Astley - Never Gonna Give You Up (Official Music Video)'
---

<TV>
	<iframe
		src={`https://www.youtube.com/embed/${videoYoutubeId}?autoplay=1&controls=0&disablekb=1&loop=1&rel=0&enablejsapi=1`}
		width="100%"
		height="100%"
		class="video"
		id="video"
		title={videoTitle}
		frameborder="0"
		allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
		allowfullscreen
	></iframe>

	<Fragment slot="power-button">
		<div class="power-button" id="power-button"></div>
	</Fragment>

	<Fragment slot="play-button">
		<div class="play-pause-button" id="play-pause-button"></div>
	</Fragment>

	<Fragment slot="volume-button">
		<div class="mute-button" id="mute-button"></div>
	</Fragment>
</TV>

<script is:inline>
	const video = document.getElementById('video')
	const powerButton = document.getElementById('power-button')
	const playPauseButton = document.getElementById('play-pause-button')
	const muteButton = document.getElementById('mute-button')

	function onPlayerReady(event)
	{
		// Autoplay with reduced volume
		event.target.setVolume(40)
		event.target.playVideo()
	}

	function onPlayerStateChange(event)
	{
		if (event.data === 1)
		{
			// Playing
			video.classList.add('initialized')
		}
	}

	let ytplayer
	function onYouTubeIframeAPIReady()
	{
		ytplayer = new YT.Player('video', {
			events: {
				onReady: onPlayerReady,
				onStateChange: onPlayerStateChange,
			}
		})
	}

	const togglePlayPause = () =>
		{
			if (ytplayer.getPlayerState() === 1)
			{
				ytplayer.pauseVideo()
				console.log('paused')
			}
			else
			{
				ytplayer.playVideo()
				console.log('playing')
			}
		}

	const toggleMute = () =>
		{
			if (ytplayer.isMuted())
			{
				ytplayer.unMute()
				console.log('unmuted')
			}
			else
			{
				ytplayer.mute()
				console.log('muted')
			}
		}

	powerButton.addEventListener('click', togglePlayPause)
	playPauseButton.addEventListener('click', togglePlayPause)
	muteButton.addEventListener('click', toggleMute)
</script>
<script is:inline src="https://www.youtube.com/iframe_api" async></script>

<style lang="scss">
	.video {
		user-select: none;

		&.initialized {
			pointer-events: none;
		}
	}

	.power-button,
	.play-pause-button,
	.mute-button {
		width: 100%;
		height: 100%;
		cursor: pointer;
		user-select: none;
	}
</style>
