---
import { Image } from 'astro:assets'

import tv from '~/assets/tv.png'

interface Props
{
	id?: string
	class?: string
	style?: string
}

const {
	id = '',
	class: className = '',
	style = '',
} = Astro.props
---

<div class="frame">
	<div class="background">
		<Image
			src={tv}
			alt="Frame TV background"
		/>
	</div>
	<div class="container">
		<div class="large-wrapper">
			<div class="sub-container screen-container">
				<div class="wrapper">
					<slot />
				</div>
			</div>
			<div class="sub-container power-button-container">
				<slot name="power-button" />
			</div>
			<div class="sub-container play-button-container">
				<slot name="play-button" />
			</div>
			<div class="sub-container volume-button-container">
				<slot name="volume-button" />
			</div>
		</div>
	</div>
</div>

<style lang="scss">
	.frame {
		position: relative;
		min-height: 100px;
		aspect-ratio: 16 / 9;
    	pointer-events: none;

		.background {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			aspect-ratio: 16 / 9;
			overflow: hidden;
			z-index: 1;

			img {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		.container {
			// Large full-width container
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;
			pointer-events: auto;

			.large-wrapper {
				// 16:9 ratio large wrapper
				position: relative;
				min-width: 100%;
				box-sizing: border-box;
				aspect-ratio: 16 / 9;

				.sub-container {
					// Sub container for TV screen components
					position: absolute;
					overflow: hidden;
				}

				.screen-container {
					// Small container for the TV screen
					position: absolute;
					background: #000;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					$top: 17.8%;
					$bottom: 23.8%;
					$left: 22.2%;
					$right: 33.0%;
					top: $top;
					left: $left;
					width: calc(100% - $left - $right);
					height: calc(100% - $top - $bottom);

					.wrapper {
						// 16:9 ratio small wrapper
						flex-grow: 1;
						flex-shrink: 0;
						aspect-ratio: 16 / 9;
					}
				}

				.power-button-container {
					// Small container for the power button
					$top: 71%;
					$bottom: 25%;
					$left: 72.5%;
					$right: 25.4%;
					top: $top;
					left: $left;
					width: calc(100% - $left - $right);
					height: calc(100% - $top - $bottom);
					border-radius: 50%;
				}

				.play-button-container {
					// Small container for the volume button
					$top: 49%;
					$bottom: 39.7%;
					$left: 75.6%;
					$right: 17.8%;
					top: $top;
					left: $left;
					width: calc(100% - $left - $right);
					height: calc(100% - $top - $bottom);
					border-radius: 50%;
				}

				.volume-button-container {
					// Small container for the volume button
					$top: 64%;
					$bottom: 24.5%;
					$left: 75.6%;
					$right: 17.8%;
					top: $top;
					left: $left;
					width: calc(100% - $left - $right);
					height: calc(100% - $top - $bottom);
					border-radius: 50%;
				}
			}
		}
	}
</style>
